body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
	padding: 6px 12px 6px 12px;
}

.title {
  background: #e3f4ff;
	font-size: 16px;
	padding: 6px;
}

.content {
  background: #e3f4ff;
	font-size: 16px;
	padding: 12px;
}

.button-container {
  background: #e3f4ff;
	margin: 16px 0 0 0;
	text-align: center;
}

button {
	display: block;
  background: white;
  border: 1px solid #eee;
	margin: 0 auto;
}
